@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lato|Roboto');

body {
    background-color:blue;
}
/*  Navigation Menu */
.menu {
    list-style-type: none;  
    text-align:center;
    background-color:black;
    font-family: 'Gloria Hallelujah', cursive, sans-serif;
    font-size: 1.2rem;
}
.navitem{
    display:inline-block;
    padding: 0.5% 2%;
}
.navitem a{
    color: white;
}
.navitem a:hover{
    color: yellow;
}
.navitem a:active{
    color: red;
}