@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lato|Roboto|Shadows+Into+Light');

body {
    background-color:#053E73;
}

h2 {
    font-size: 2.3rem;
    text-decoration:underline;
    text-align: center;
    font-family: 'Shadows Into Light', cursive, sans-serif;
}
.left {
    float:left;
    }

.cleared {
    clear: left;
  }

/*  Navigation Menu */
.menu {
    list-style-type: none;  
    text-align:center;
    background-color:black;
    font-family: 'Gloria Hallelujah', cursive, sans-serif;
    font-size: 1.2rem;
}
.navitem{
    display:inline-block;
    padding: 0.5% 2%;
}
.navitem a{
    color: white;
}
.navitem a:hover{
    color: yellow;
}
.navitem a:active{
    color: red;
}

/* Home Page  */

.textbox {
    margin-left:8%;
    width: 84%;
    }

.textbox p{
    font-family: "Gloria Hallelujah",sans-serif;
    font-size: 1rem;
    padding: 1.5% 2%;    
}
.textbox img{
   padding: 0% 2% 2% 2%;
   max-width:46%;
}
.textbox span{
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 1rem;
    font-style: italic;
    }

.lefttext {
    width:48%;
    padding-left:2%;
    float:left;
   }

#petsitting {
    background-color:#EBEFA8;
    color:#111110;
}
#petphotos{
    background-color:#7C6DDC;
    color:#111110;
    }

#prices h2{
    color:white;
}
#prices th,td{
    padding: 3% 0%;
    font-family: "Gloria Hallelujah",cursive,sans-serif;
}
#prices th {
    background-color: #4CAF50;
    color: white;
    }
#prices td {
   background-color: #4CAF50;
   color: white;
        }

#prices table {
    margin-left:10%;
    width: 80%;
   text-align: center;
}